@import "./left.css";
@import "./right.css";

@font-face {
  font-family: 'Currency Font';
  font-style: normal;
  font-weight: normal;

  font-display: swap;
  src: url('//www.travelpayouts.com/currency_fonts/currency-regular-webfont.woff2') format('woff2'),
       url('//www.travelpayouts.com/currency_fonts/currency-regular-webfont.woff') format('woff'),
       url('//www.travelpayouts.com/currency_fonts/currency-regular-webfont.ttf') format('truetype')
}

.currency_font {
  display: inline-block;
  white-space: nowrap;
  font-family: 'Currency Font', 'Open Sans', Helvetica, sans;
  font-weight: 600;

  direction: ltr/*rtl:ignore*/;
  @each currenc, sing, in $left_currency {
    &--#(currenc):before {
      display: inline-block;
      /*rtl:ignore*/
      margin-right: 0.2ex;
      content: #(sing);
    }
  }
  @each currenc, sing, in $right_currency {
    &--#(currenc):after {
      display: inline-block;
      /*rtl:ignore*/
      margin-left: 0.2ex;
      content: #(sing);
    }
  }
}
