@font-face {
  font-family: 'Currency Font';
  font-style: normal;
  font-weight: normal;

  font-display: swap;
  src: url('//www.travelpayouts.com/currency_fonts/currency-regular-webfont.woff2') format('woff2'),
  url('//www.travelpayouts.com/currency_fonts/currency-regular-webfont.woff') format('woff'),
  url('//www.travelpayouts.com/currency_fonts/currency-regular-webfont.ttf') format('truetype')
}
