$left_currency: (
  usd: '$',
  cad: 'C$',
  eur: '€',
  amd: 'Դ',
  ars: '$',
  aud: 'A$',
  azn: '₼',
  bdt: 'BDT',
  brl: 'R$',
  chf: 'CHF',
  clp: 'C$',
  cny: '¥',
  cop: 'COL$',
  egp: 'E£',
  gbp: '£',
  hkd: 'HK$',
  huf: 'Ft',
  idr: 'Rp',
  ils: '‏₪',
  inr: '₹',
  jpy: '¥',
  krw: '₩',
  lkr: 'Rp',
  mur: 'Rs',
  mxn: '$',
  myr: 'RM',
  ngn: '₦',
  npr: 'रु',
  nzd: 'NZ$',
  pen: 'S/.',
  php: '₱',
  pkr: 'Rs',
  sgd: 'S$',
  thb: '฿',
  try: '₺',
  xof: 'FCFA',
  zar: 'R'
);