$right_currency: (
  aed: 'د.إ',
  afn: '؋',
  all: 'Lek',
  bam: 'KM',
  bgn: 'лв.',
  bhd: '.د.ب',
  bif: 'FBu',
  bnd: '$',
  bob: 'Bs',
  bwp: 'P',
  byn: 'Br',
  bzd: '$',
  cdf: 'FrCD',
  crc: '₡',
  cve: 'CV$',
  czk: 'Kč',
  djf: 'Fdj',
  dkk: 'kr',
  dop: 'RD$',
  dzd: 'د.ج.‏',
  eek: 'kr',
  ern: 'Nfk',
  etb: 'Br',
  gel: '₾',
  ghs: 'GH₵',
  gnf: 'FG',
  gtq: 'Q',
  hnl: 'L',
  hrk: 'kn',
  iqd: 'د.ع.‏',
  irr: '﷼',
  isk: 'kr.',
  jmd: '$',
  jod: 'د.ا.‏',
  kes: 'Ksh',
  khr: '៛',
  kmf: 'FC',
  kwd: 'د.ك.‏',
  kzt: 'T',
  kgs: 'com',
  lbp: 'ل.ل.‏',
  ltl: 'Lt',
  lvl: 'Ls',
  lyd: 'د.ل.‏',
  mad: 'د.م.‏',
  mdl: 'MDL',
  mga: 'MGA',
  mkd: 'MKD',
  tjs: 'TJS',
  mmk: 'K',
  mop: 'MOP$',
  mzn: 'MTn',
  nad: 'N$',
  nio: 'C$',
  nok: 'kr',
  omr: 'ر.ع.‏',
  pab: 'B/.',
  pln: 'zł',
  pyg: '₲',
  qar: 'ر.ق.‏',
  ron: 'lei',
  rsd: 'din',
  rub: 'R',
  rwf: 'FR',
  sar: 'ر.س.',
  sdg: 'SDG',
  sek: 'kr',
  sos: 'Ssh',
  syp: 'ل.س.‏',
  tnd: 'د.ت.‏',
  top: 'T$',
  ttd: '$',
  twd: 'NT$',
  tzs: 'TSh',
  uah: 'G',
  ugx: 'USh',
  uyu: '$',
  uzs: 'UZS',
  vef: 'Bs.F.',
  vnd: '₫',
  xaf: 'FCFA',
  yer: 'ر.ي.‏',
  zmk: 'ZK'
);